<header class="bg-[#88AB8E]">
  <nav class="container mx-auto px-6 py-3">
    <div class="flex items-center justify-between">
      <div class="text-white font-bold text-xl">
        <a href="#">
          <h1 class="text-white">News media classifier</h1>
        </a>
      </div>
    </div>
    <div class="mobile-menu hidden md:hidden">
      <ul class="mt-4 space-y-4">
        <li>
          <a href="#" class="block px-4 py-2 text-white bg-gray-900 rounded"
            >Home</a
          >
        </li>
        <li>
          <a href="#" class="block px-4 py-2 text-white bg-gray-900 rounded"
            >About</a
          >
        </li>
        <li>
          <a href="#" class="block px-4 py-2 text-white bg-gray-900 rounded"
            >Services</a
          >
        </li>
        <li>
          <a href="#" class="block px-4 py-2 text-white bg-gray-900 rounded"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
