<!-- templates/index.html -->
{% extends 'base.html' %}
{% block content %}
    <section class="pt-12 flex flex-col-reverse md:flex-row overflow-y-scroll">
        <div id="left" class="md:w-1/2 pt-6 md:pt-24 p-4">
            <div class="bg-gray-50  flex items-center justify-center px-8 py-4">
                <div class="relative w-full max-w-lg">
                    <div class="relative space-y-4 max-h-[500px] overflow-y-scroll" id="results">
                        {% for article in articles %}
                            {% include 'list-item.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="right" class="md:w-1/2 p-2 md:p-0">{% include 'form.html' %}</div>
    </section>
{% endblock content %}
